# Python virtual environment
venv/
.env/

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# VSCode settings (optional)
.vscode/

# Logs
*.log
